  .Game {
    padding: 10px;
    height: 100vh;
    text-align: center;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .Square {
      border: 1px solid black;
      box-sizing: border-box;
      margin: 0 auto 2px;
      padding: 2px;
      width: 50px;
      height: 50px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
  }

  .Square img {
    max-width:100%;
    max-height:100%;
  }

  .MapSize {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 20px;
  }

  .Btn{
    border-radius: 7px;
    cursor: pointer;
    outline: none;
  }

  .Btn:hover{
    transform: scale(1.1, 1.1);
  }

  .Btn:disabled {
    cursor: not-allowed;
  }

  .Btn:disabled:hover{
    transform: scale(1, 1) !important;
  }

  .Pits{
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  
  .Map {
      display: inline-block;
      margin: 50px auto;
  }
  
  .BtnDiv button{
    background-color: #ccc;
    border: .5px solid black;
    border-radius: 5px;
    width: 45px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin: 2px 2px;
    cursor: pointer;
    outline: none;
  }
  
  .BtnDiv button:hover{
    transform: scale(1.1, 1.1);
  }
  
  .BtnDiv button:disabled{
    cursor: not-allowed !important;
  }
  
  .BtnDiv button:disabled:hover{
    transform: scale(1, 1) !important;
  }

  .TopIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .BottomIcons{
    display: flex;
    flex-direction: row;
  }

  .ActiveArrow{
    background-color: #5af500 !important;
  }

  .UsedArrow{
    background-color: #e70a0a !important;
  }
  
  .ArrowW{
    z-index: 2000;
    position: absolute;
    -webkit-animation-name: arrowW;
    -webkit-animation-duration: 3s;
    animation-name: arrowW;
    animation-duration: 3s;
  }

  @-webkit-keyframes arrowW{
    from{
      transform: translate(0px, 0px) rotate(270deg);
    }
    to{
      transform: translate(0px, -1000px) rotate(270deg);
    }
  }

  @keyframes arrowW{
    from{
      transform: translate(0px, 0px) rotate(270deg);
    }
    to{
      transform: translate(0px, -1000px) rotate(270deg);
    }
  }

  .ArrowS{
    z-index: 2000;
    position: absolute;
    -webkit-animation-name: arrowS;
    -webkit-animation-duration: 3s;
    animation-name: arrowS;
    animation-duration: 3s;
  }

  @-webkit-keyframes arrowS{
    from{
      transform: translate(0px, 0px) rotate(90deg);
    }
    to{
      transform: translate(0px, 1000px) rotate(90deg);
    }
  }

  @keyframes arrowS{
    from{
      transform: translate(0px, 0px) rotate(90deg);
    }
    to{
      transform: translate(0px, 1000px) rotate(90deg);
    }
  }

  .ArrowA{
    z-index: 2000;
    position: absolute;
    -webkit-animation-name: arrowA;
    -webkit-animation-duration: 3s;
    animation-name: arrowA;
    animation-duration: 3s;
  }

  @-webkit-keyframes arrowA{
    from{
      transform: translate(0px, 0px) rotate(180deg);
    }
    to{
      transform: translate(-1000px, 0px) rotate(180deg);
    }
  }

  @keyframes arrowA{
    from{
      transform: translate(0px, 0px) rotate(180deg);
    }
    to{
      transform: translate(-1000px, 0px) rotate(180deg);
    }
  }

  .ArrowD{
    z-index: 2000;
    position: absolute;
    -webkit-animation-name: arrowD;
    -webkit-animation-duration: 3s;
    animation-name: arrowD;
    animation-duration: 3s;
  }

  @-webkit-keyframes arrowD{
    from{
      transform: translate(0px, 0px);
    }
    to{
      transform: translate(1000px, 0px);
    }
  }

  @keyframes arrowD{
    from{
      transform: translate(0px, 0px);
    }
    to{
      transform: translate(1000px, 0px);
    }
  }