  .Game {
    padding: 10px;
    height: 100vh;
    text-align: center;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .Square {
      border: 1px solid black;
      box-sizing: border-box;
      margin: 0 auto 2px;
      padding: 2px;
      width: 50px;
      height: 50px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
  }

  .Square img {
    max-width:100%;
    max-height:100%;
  }

  .MapSize {
    width: 23%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 20px;
  }

  .MapSize button {
    border-radius: 7px;
    cursor: pointer;
    outline: none;
  }

  .Pits{
    width: 18%;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  
  .Map {
      display: inline-block;
      margin: 50px auto;
  }
  
  .BtnDiv button{
    background-color: #ccc;
    border: .5px solid black;
    border-radius: 5px;
    width: 45px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin: 2px 2px;
    cursor: pointer;
  }
  
  .BtnDiv button:hover{
    transform: scale(1.1, 1.1);
  }
  
  .Disabled button{
    cursor: not-allowed !important;
  }
  
  .Disabled button:hover{
    transform: scale(1, 1) !important;
  }

  .TopIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .BottomIcons{
    display: flex;
    flex-direction: row;
  }