  .Game {
    height: 100vh;
    text-align: center;
    outline: none;
  }
  
  .Square {
      border: 1px solid black;
      box-sizing: border-box;
      margin: 0 auto 2px;
      width: 50px;
      height: 50px;
      background-color: #fff;
  }
  
  .Map {
      display: inline-block;
      margin: 50px auto;
  }
  
  .BtnDiv button{
    background-color: #ccc;
    border: .5px solid black;
    border-radius: 5px;
    width: 45px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin: 2px 2px;
    cursor: pointer;
  }
  
  .BtnDiv button:hover{
    transform: scale(1.1, 1.1);
  }
  
  .Disabled button{
    cursor: not-allowed !important;
  }
  
  .Disabled button:hover{
    transform: scale(1, 1) !important;
  }
  